<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      LISTA CONTAS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item>lista de contas</ion-item>
    <ion-item>lista de contas</ion-item>
    <ion-item>lista de contas</ion-item>
    <ion-item>lista de contas</ion-item>
    <ion-item>lista de contas</ion-item>
    <ion-item>lista de contas</ion-item>
    <ion-item>lista de contas</ion-item>
  </ion-list>

  <ion-button (click)="AddContas()">Adicionar Contas</ion-button>

  <ion-button (click)="AddCategoria()">Adicionar Categoria</ion-button>
  <ion-button (click)="AddStatus()">Adicionar Status</ion-button>

</ion-content>